@import "../../constants/colors.less";
@import "../../constants/fonts.less";

.btn {
  background-color: @button-inactive-background;
  color: @button-inactive-foreground;
  font-family: @font-default;
  font-size: 16pt;
  font-weight: normal;
  border: 0px black;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}

.btn:hover {
  background-color: @button-active-background;
  color: @button-active-foreground;
}

.btn:active .btn:focus {
  background-color: @button-active-background;
  color: @button-active-foreground;
}

.btn-primary {
  background-color: @button-primary-inactive-background !important;
}

.btn-primary:hover {
  background-color: @button-primary-active-background !important;
}