@import "../../constants/colors.less";
@import "../../constants/fonts.less";

.popover {
    background-color: @popover-background;
    font-family: @font-default;
    font-size: 12pt;
    font-weight: normal;
    text-decoration: none;
    border-radius: 4px;
    .arrow {
      color: red;
      border-color:green;
    }
}

.popover-title {
    font-family: @font-default;
    font-size: 12pt;
    font-weight: normal;
    background-color: @popover-background;
    color: @popover-text;
    text-align:center;
  }
  
.popover-content {
    text-align: left;
    font-family: @font-default;
    font-size: 12pt;
    font-weight: normal;
    background-color: @popover-background;
    color: @popover-text;
    text-align: left;
  }

.popover .arrow ,
.popover .arrow::after{
  color: red !important;
  border-color: red !important;
}

.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
border-bottom-color: yellow; // Any color here
}