.setting-numeric {
  cursor: pointer;

  input {
    width: 3em;
    height: 0.75em;
    border: 1;
    border-color: rgba(192, 242, 86, 1);
    color: rgba(192, 242, 86, 1); // Font color
    font-size: large;
    padding: 10px;
    margin: 1px;
  }
  :focus {
    outline: none;
  }
}
