.setting-select {
  cursor: pointer;

  :focus {
    outline: none;
  }
}

.setting-select-editing {
  color: rgba(192, 242, 86, 1);
  border-color: rgba(192, 242, 86, 1);

  :focus {
    outline: none;
  }
}
