/**
 * Figma Colors: https://www.figma.com/file/TD3f4BsQlbA8SYAfqyTvky/Vamp-Colors?node-id=0%3A1
 */

@gray-1-100: rgba(63, 63, 63, 1);
@gray-2-100: rgba(79, 79, 79, 1);
@gray-3-100: rgba(130, 130, 130, 1);
@gray-4-100: rgba(189, 180, 180, 1);
@gray-5-100: rgba(224, 224, 224, 1);
@gray-6-100: rgba(242, 242, 242, 1);

@gray-1-75: rgba(63, 63, 63, 0.75);
@gray-2-75: rgba(79, 79, 79, 0.75);
@gray-3-75: rgba(130, 130, 130, 0.75);
@gray-4-75: rgba(189, 180, 180, 0.75);
@gray-5-75: rgba(224, 224, 224, 0.75);
@gray-6-75: rgba(242, 242, 242, 0.75);

@gray-1-50: rgba(63, 63, 63, 0.5);
@gray-2-50: rgba(79, 79, 79, 0.5);
@gray-3-50: rgba(130, 130, 130, 0.5);
@gray-4-50: rgba(189, 180, 180, 0.5);
@gray-5-50: rgba(224, 224, 224, 0.5);
@gray-6-50: rgba(242, 242, 242, 0.5);

@gray-1-25: rgba(63, 63, 63, 0.25);
@gray-2-25: rgba(79, 79, 79, 0.25);
@gray-3-25: rgba(130, 130, 130, 0.25);
@gray-4-25: rgba(189, 180, 180, 0.25);
@gray-5-25: rgba(224, 224, 224, 0.25);
@gray-6-25: rgba(242, 242, 242, 0.25);

@red-100: rgba(242, 86, 86, 1);
@red-75: rgba(242, 86, 86, 0.75);

@dark-red-100: rgba(165, 27, 27, 1);
@dark-red-75: rgba(165, 27, 27, 0.75);

@blue-purple-100: rgba(79, 16, 214, 1);
@blue-purple-75: rgba(79, 16, 214, 0.75);

@purple-100: rgba(138, 18, 233, 1);
@purple-75: rgba(138, 18, 233, 0.75);

@lime-100: rgba(192, 242, 86, 1);
@lime-75: rgba(192, 242, 86, 0.75);
