@gradient-vibes: linear-gradient(-45deg, #56B0F2, #C471ED);
@gradient-lowkey: linear-gradient(-45deg, rgba(11, 16, 65, 0.64), rgba(102, 19, 109, 0.81));
@gradient-passion: linear-gradient(-45deg, rgba(242, 153, 74, 1), rgba(235, 87, 87, 1));
@gradient-grass: linear-gradient(-45deg, rgba(111, 207, 151, 0.65), rgba(192, 242, 86, 1));
@gradient-flamagra: linear-gradient(-45deg, rgba(220, 111, 87, 1), hsl(0, 100, 59));
@gradient-timepiece: linear-gradient(-45deg, rgba(74, 18, 233, 1), rgba(138, 18, 233, 1));