@vibes: #56b0f2, #c471ed;
@lowkey: rgba(11, 16, 65, 1), rgba(102, 19, 109, 1);
@passion: rgba(242, 153, 74, 1), rgba(235, 87, 87, 1);
@grass: rgba(111, 207, 151, 1), rgba(192, 242, 86, 1);
@flamagra: rgba(220, 111, 87, 1), rgba(255, 44, 44, 1);
@timepiece: rgba(74, 18, 233, 1), rgba(138, 18, 233, 1);
@toothpaste: rgba(111, 207, 151, 1), rgba(9, 172, 143, 1);
@holly: rgba(112, 69, 19, 1), rgba(6, 68, 32, 1);

@vibes-vertical: linear-gradient(0deg, @vibes);
@lowkey-vertical: linear-gradient(0deg, @lowkey);
@passion-vertical: linear-gradient(0deg, @passion);
@grass-vertical: linear-gradient(0deg, @grass);
@flamagra-vertical: linear-gradient(0deg, @flamagra);
@timepiece-vertical: linear-gradient(0deg, @timepiece);
@toothpaste-vertical: linear-gradient(0deg, @grass);
@holly-vertical: linear-gradient(0deg, @holly);

@gradient-vibes: linear-gradient(-45deg, @vibes);
@gradient-lowkey: linear-gradient(-45deg, @lowkey);
@gradient-passion: linear-gradient(-45deg, @passion);
@gradient-grass: linear-gradient(-45deg, @grass);
@gradient-flamagra: linear-gradient(-45deg, @flamagra);
@gradient-timepiece: linear-gradient(-45deg, @timepiece);
@gradient-toothpaste: linear-gradient(-45deg, @grass);
@gradient-holly: linear-gradient(-45deg, @holly);