$body-bg: #000;
$body-color: #111;
$popover-body-color: rgba(90, 87, 83, 0.35);
$popover-arrow-color: rgba(90, 87, 83, 0.35);

$theme-colors: (
  "primary": rgb(165, 151, 163),
  "danger": rgba(102, 19, 109, 0.81)
);
