@import "../../../../constants/colors.less";
@import "../../../../constants/gradients.less";
@import "../../../../constants/transitions.less";

.metronome {
  color: white;
  font-weight: 300;
  position: relative;
  height: 30px;
  width: 100%;

  .label {
    float: left;
    padding-left: 9px;
    font-size: 14pt;
    height: 19px;
    line-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.bar {
  display: flex;
  position: absolute;
  height: 30px;
  width: 200px;
  background: @timepiece-reverse-vertical;
  opacity: 0.5;
  overflow: hidden;

  transition: @timeline-left-transition, @timeline-width-transition;
  -webkit-transition: @timeline-left-transition, @timeline-width-transition;
}

.variant {
  background-color: @blue-purple-100;
}

.beat-marker {
  position: absolute;
  width: 2px;
  bottom: 0px;
  height: 100%;
  background-color: black;

  &.first-beat {
    opacity: 0.7;
  }

  &.other-beat {
    opacity: 0.4;
  }
}

.section-handle-container {
  position: absolute;
  transition: @timeline-left-transition, @timeline-width-transition;
  -webkit-transition: @timeline-left-transition, @timeline-width-transition;

  .section-handle {
    background-color: @purple-100;
    border-radius: 5px;
  }

  .variant {
    background-color: @blue-purple-100;
  }
}
