@import "../../../constants/gradients.less";
@import "../../../constants/sizes.less";

.cab-main {
  margin: auto;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 16px;
  background: @gradient-passion;
  height: 150px;
  display: flex;
  overflow: hidden;

  img {
    height: @play-control-height;
    margin-top: auto;
    margin-bottom: auto;
    left: 58px;
    position: relative;
  }
}

.cab-new {
  width: 300px;
  height: 150px;
  margin: auto;
  border-radius: 16px;
  background: @gradient-passion;
  display: flex;
  cursor: pointer;

  img {
    height: @play-control-height;
    margin: auto;
  }
}

.cab-recording {
  // Defaults
  height: 150px;
  width: 0px;
  margin: auto;
  border-radius: 16px;
  background: @gradient-flamagra;
  display: flex;
}