@import "../../constants/colors.less";
@import "../../constants/fonts.less";

.home-logged-in {
  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 15pt;
  }

  width: 50%;
  top: 10%;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;

  img {
    width: 50%;
  }

  .profile {
    padding-top: 100px;
    width: 50%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .buttons {
    padding: 15px;
  }

  a {
    color: rgba(216, 231, 216, 0.81);
    font-family: @font-default;
  }

  a:hover {
    color: rgba(236, 253, 236, 0.81);
  }
}

.home-logged-out {
  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 20pt;
  }

  padding-top: 100px;
  width: 50%;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .buttons {
    padding: 15px;
  }
  img {
    width: 50%;
  }

  a {
    color: rgba(216, 231, 216, 0.81);
    font-family: @font-default;
  }

  a:hover {
    color: rgba(236, 253, 236, 0.81);
  }
}
