.workspace {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.play-and-tracks {
  display: inline-block;
  margin: auto;
  max-width: 100%;
}

.play-panel {
 max-width: 100%;
 padding-top: 30px;
}

