@import "../../constants/colors.less";
@import "../../constants/fonts.less";

a {
    color: rgba(102, 19, 109, 0.81);
    font-family: @font-default;
}

a:hover {
    color: rgba(147, 23, 158, 0.81)
}