@import "../../../constants/colors.less";
@import "../../../constants/transitions.less";
@import "../../../constants/gradients.less";

.clip {
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  border-radius: 4px;

  transition: box-shadow 0.3s linear;
}

.foreground {
  opacity: initial;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.foreground > * {
  z-index: 6;
}

.clip-movable:hover .foreground {
  display: inline;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;

  &.selected {
    background: @timepiece-2-vertical;
    outline: solid 4px @purple-75;
    outline-offset: -4px;
  }

  &.deselected {
    background: @backdrop-vertical;
  }
}
