@import "../../../constants/colors.less";
@import "../../../constants/transitions.less";

.clip {
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  border-radius: 16px;

  transition: box-shadow 0.3s linear;
}

.foreground {
  opacity: initial;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.foreground > * {
  z-index: 6;
}

.clip-movable:hover .foreground {
  display: inline;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: @orange-100;
}
