@import "../../../constants/gradients.less";

.play-panel {
  display: grid;
  grid-template-columns: 80px auto 100px;
  //justify-content: ;

  vertical-align: middle;

  height: 150px;
}

.play-options {
  float: right;
  text-align: right;

  background-image: @gradient-passion;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}